html {
  font-size: 10px; 
  font-family: 'Kelly Slab', cursive;
}

h2 {
  font-size: 25px;
  text-align: center;
}
p, li {
  font-size: 20px;    
  line-height: 2;
  letter-spacing: 1px;
}
h3 {
  width: 300px;
  font-size: 30px;
  border: 2px solid rgb(7, 7, 7);
    padding: 10px;
    background-color: rgb(0, 148, 136);
      margin: 0 auto;
}
h4{
  font-size: 40px;
  text-align: center;
}
h4 {
  margin: 0;
  padding: 20px 0;    
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 1px rgb(108, 255, 145);
}
h6 {
  width: 500px;
  font-size: 30px;
  text-align: center;
  border: 2px solid rgb(7, 7, 7);
    padding: 10px;
    background-color: rgb(53, 45, 99);
      margin: 0 auto;
}
html {
  background: url(https://pm1.narvii.com/7224/482de8607436fc78066f8494e057faddeaf30e6fr1-1920-1080v2_uhq.jpg);
  background-size: 100%;
  background-attachment: fixed;
}
body {
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(53, 45, 99);
  padding: 0 20px 100px 20px;
  border: 2px solid rgb(46, 46, 46);
}
h1 {
  margin: 0;
  padding: 20px 0;    
  color: rgb(0, 0, 0);
  text-shadow: 3px 3px 1px rgb(53, 53, 53);
}
img {
  display: block;
  margin: 0 auto;
}